<% if logged_in? %>
<div class="row">
    <%= form_tag search_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <% end %>
  <div class="col-md-8">
    <h3>Search result</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
<% end %>